<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <h1 class="text-3xl font-bold underline">
      Hello world! {{ request.user }} -- {{ not_actual_context }} -- {{ my_value }}
    </h1>
    {% if not not_actual_context %}
    something here
    {% else %}
    not actual context
    {% endif %}
    {% for my_var_name in colors %}
    <li>{{ my_var_name }}</li>
    {% endfor %}
  </body>
</html>
